@import url("/home/user/.cache/wal/colors-waybar.css");

* {
  font-family: "SF Pro Text", sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
}

#workspaces button.active {
  background-color: @color1;
  color: @background;
}

#workspaces {
  background-color: @background;
  margin-left: 6px;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#battery,
#network,
#pulseaudio,
#backlight,
#tray {
  color: @color2;
  background-color: @background;
  margin: 0 6px 0 6px;
  padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#custom-exit {
  margin: 0px 6px 0px 6px;
  padding: 0 16px 0 10px; /* top, right, bottom, left */
  font-size: 20px;
  color: @color6;
  background-color: @background;
}

#clock {
  color: @color3;
  background-color: @background;
  margin: 0 6px 0 0;
  padding: 0 15px 0 15px;
}

#network {
  color: @color4;
}

#pulseaudio {
  color: @color5;
}

#backlight {
  color: @color6;
}
