* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: #fff;
}

#workspaces {
  background: rgba(0, 0, 0, 0.3);
  margin: 4px;
}

#workspaces button {
  color: #bbb;
  padding: 0 2px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#workspaces button.active {
  color: #fff;
  border: 1px solid #fff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #fff;
}

#custom-wlogout,
#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray,
#mode {
  border-radius: 25px;
  margin: 4px;
  padding: 8px 10px 8px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 12px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

label:focus {
  background-color: #000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#custom-wlogout,
#network {
  padding-right: 13px;
}

#clock {
  border-radius: 25px 0 0 25px;
  font-size: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
