#window {
  border: 3px solid rgba(50, 50, 50, 0.85);
  background-color: rgba(50, 50, 50, 0.85);
  font-size: 18px;
}

#outer-box {
  margin: 3px;
}

#input {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: white;
  margin: 3px;
}

#input image:first-child {
  margin-left: -100px;
}

#input image:last-child {
  margin-right: -100px;
}

#input:focus {
  border-radius: 0;
}

#entry {
  color: white;
}

#entry:selected {
  background-color: rgba(100, 100, 100, 0.85);
}

#text:selected {
  color: rgba(100, 100, 100);
}

#img {
  margin-right: 5px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#text {
  margin-left: 3px;
}

